@model IEnumerable<MyDomain.Car>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Year)
            </th>
            <th style="max-width: 20px">
                Color <!-- ID-->
            </th>
            <th style="max-width: 100px">
            <th style="max-width: 100px"></th>
            <th style="max-width: 110px"></th>
        </tr>
    </thead>
    <tbody>
        @{
            IEnumerable<MyDomain.CarColor> carColors = ViewBag.CarColors;
            var selectListItems = carColors.Select(c => new SelectListItem { Value = c.Id.ToString(), Text = c.Color });
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td style="max-width:20px">
                    @Html.DisplayFor(modelItem => item.CarColorId)
                </td>
                <td style="max-width:100px">
                    @if (item.CarColor != null)
                    {
                        @Html.DisplayFor(modelItem => item.CarColor.Color)
                    }
                </td>
                <td>
                    <div style="width: 100px; height: 20px; background-color: @(item.CarColor?.Color ?? "")"></div>
                </td>
                <td style="max-width:110px">
                    @using (Html.BeginForm("UpdateCarColor", "Car", FormMethod.Post))
                    {
                        @Html.Hidden("Id", item.Id)

                            <div class="custom-select">
                                @* CarColor *@
                                <select name="CarColorId" asp-for="@item.CarColorId" class="form-control custom-form-control"
                                    asp-items="@selectListItems"></select>
                                <button type="submit" class="btn btn-primary">Go</button>
                            </div>
                            @* <span asp-validation-for="CarColorId" class="text-danger"></span> *@
                           @*  @Html.DisplayFor(modelItem => item.Id)
                            @Html.DropDownListFor(modelItem => item.CarColorId,
                                     new SelectList(
                                     Model.CarColors, "Id", "Color"),
                                     "Select Color",
                                     new { @class = "form-control custom-form-control" }
                                     ) *@
                    }
                </td>


            </tr>
        }
    </tbody>
</table>
